@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Mono+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2em;
    background-color: #edc7b7;
}
img{
    width: auto;
    height: 100%;
}
.mainBox{
    width: 95%;
    border: solid 5px #123c69;
    border-radius: 2em;
    background-color: #eee2dc;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 15px;
}
h1{
    position: relative;
    text-indent: 1em;
    color: black;
    text-align: center;
    margin: 15px;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Rubik Mono One", monospace;
}
.navigation{
    position: relative;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.navigation>a{
    text-decoration: none;
    color: cadetblue;
    font: bold 1.5rem "Nunito", sans-serif;
}
.project_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    gap: 5px;
}
.project_image{
    transition: all 0.2s;
    height: auto;
    width: 100%;
    border-radius: 2em;
}

.project_image_box{
    position: relative;
    border: none;
    transition: all 0.2s;
    margin: 15px;
    width: calc(100vw/2.8);
    max-width: 500px;
    min-width: 350px;
    box-shadow: 0 0 2em #bab2b5;
    background-color: transparent;
    border-radius: 2em;
}
.project_image_box:hover{
    transform: scale(1.1,1.1);
    z-index: 2;
}
.project_title{
    font-family: "Nunito",sans-serif;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #da5883;
    z-index:1;
    user-select: none;
}
.project_title::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: transparent;
    border: 1em solid #bab2b5;
    border-radius: 2em;
    height: auto;
    transform: translate(-50%,-50%);
    z-index: -1;
}
/*Общий контеинер каталога О нас*/
.about_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}
/*контейнер с картинкой и текстом*/
.about_box{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about_image_box{
    display: flex;
    height: calc(100vh/3);
    min-height: 250px;
    width: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2em #bab2b5 ;
    border-radius: 2em;
}
.about_image_box>img{
    border-radius: 2em;
}
.about_text_box{
    padding: 15px;
    display: inline-block;
    text-indent: 2em;
    width: 50%;
}
.about_text_box>p{
    word-break: keep-all;
    font-size: 24px;
    font-family: "Nunito",sans-serif;
    font-weight: bold;
}

.contacts{
    background-color: #bab2b5;
    color: #ac3b61;
    padding: 10px;
}


/*Если длина экрана менее 700px*/
@media(max-width:780px){
    .about_box{
        flex-direction: column !important;
        align-items: center !important;
    }
    .about_image{
        width: 100% !important;
    }
    .about_text_box{
        width: 100%;
    }
    .header{
        flex-direction: column;
    }
    .header>h1{
        text-indent: 0px;
    }
    .navigation{
        right: 0;
    }
    .project_container{
        flex-direction: column;
        align-items: center;
    }
    .project_image_box{
        width: 300px;
    }
}

.page_up{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 20px 20px 0;
}

/* Стиль для изображения */
#myImage {
    cursor: pointer;
    transition: 0.3s;
}

#myImage:hover {
    opacity: 0.7;
}

/* Скрытие модального окна по умолчанию */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

/* Содержимое модального окна */
.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 60%;
}

/* Кнопка закрытия */
.close {
    position: absolute;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    line-height: normal;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
}