@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Mono+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scrollbar-color: #482b6d #201e54;
    scroll-behavior: smooth;
}
body{
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2em;
    /* background-color: #edc7b7; */
    background-image: url("images/BG_img.gif");
    background-attachment: fixed;
    background-size: contain;
}

img{
    width: auto;
    height: 100%;
}

.main_box{
    width: 95%;
    border: solid 4px #201e54;
    border-radius: 2em;
    position: relative;
}
.main_box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/BG_img.gif") no-repeat center/cover;
    filter:blur(10px); /*Размываем фоновый элемент */
    z-index: -1  ; /* Отправляем фон за контент */
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 15px;
    flex-direction: column !important;
    align-items: center;
}
.header>h1{
    font-size: 2.5em;
    margin: 15px;
    text-indent: 0;
    color: #482b6d;
    text-shadow: 0 0 15px #2b122d; 
}

.header>h1:hover{
    cursor: pointer;
}
h1{
    position: relative;
    text-indent: 1em;
    text-align: center;
    color: #402661;
    font-family: "Rubik Mono One", monospace;
}
.box_title{
    font-size: 2.3em;
    margin: 20px;
    color: #ac3b61;
    text-shadow: 0 0 4px #c96385;
    font-weight: 500;
}
.navigation{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
}
.navigation>a{
    text-decoration: none;
    color: cadetblue;
    font: 900 2rem "Nunito", sans-serif;
    text-shadow: 0 0 15px #3f696b;
}

.project_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    padding: 30px;
    gap: 5px;
    overflow: hidden;
}
.project_box{
    display: flex;
    flex-direction: row;
    position: relative;
    border: none;
    margin: 15px;
    width: calc(100vw/2.8);
    max-width: 700px;
    min-width: 350px;
    transition: all 0.2s;
    justify-content: center;
    align-items: center;
}
.project_box_open{
    transition: all 0.2s;
    width: 100%;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.project_description{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_description>p{
    width: 80%;
}
.project_image_box{
    margin: 30px;
    position: relative;
    transition: all 0.2s;
    box-shadow: 0 0 2em #bab2b5;
    background-color: transparent;
    border-radius: 2em;
}
.project_image{
    transition: all 0.2s;
    height: auto;
    width: 100%;
    max-height: 300px;
    border-radius: 2em;
}
.project_image_box:hover{
    transform: scale(1.1,1.1);
    z-index: 0;
}
.project_title{
    font-family: "Nunito",sans-serif;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #482b6d;
    z-index:1;
    user-select: none;
}
.project_title::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: transparent;
    border: 1em solid #bab2b5;
    border-radius: 2em;
    height: auto;
    transform: translate(-50%,-50%);
    z-index: -1;
}
/*Общий контеинер каталога О нас*/
.about_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}
/*контейнер с картинкой и текстом*/
.about_box{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about_image_box{
    display: flex;
    height: calc(100vh/3);
    min-height: 250px;
    max-height:380px;
    width: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2em #bab2b5 ;
    border-radius: 2em;
}
.about_image_box>img{
    border-radius: 2em;
}
.about_text_box{
    padding: 15px;
    display: inline-block;
    width: 50%;
}
.about_text_box>h1{
    color: #482b6d;
    text-shadow: 0 0 15px #2b122d; 
}
p{
    word-break: keep-all;
    font-size:  1.8em;
    font-family: "Nunito",sans-serif;
    font-weight: 900;
    text-align: justify;
    color: #123c69;
    user-select: none;
    text-shadow: 0 0 15px #190493;
    text-align: center;
}

.contacts_container{
    padding: 10px;
}
.contacts_box{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contacts_box>p{
    width: 80%;
}
.mail{
    color: cadetblue;
    font: ;
}

/*Если длина экрана менее 700px*/
@media(max-width:1300px){
    .about_image{
        width: 100% !important;
    }
    .about_box{
        flex-direction: column;
    }
    .about_text_box{
        width: 100%;
    }
    .header{
        flex-direction: column;
    }
    .header>h1{
        text-indent: 0px;
    }
    .navigation{
        right: 0;
    }
    .project_container{
        flex-direction: column;
        align-items: center;
    }
    .project_box{
        flex-direction: column;
    }
    .project_image_box{
        min-width: 500px;
    }
    .project_description{
        width: 100%;
    }
}

.page_up{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
}
.refresh_page{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100px;
}
.refresh_page:hover{
    animation: rotating 1.2s ease-in forwards;
    animation-fill-mode: both;
}

@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    50%,60%{
        transform: rotate(400deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*Модальное окно---------------*/

/* Стиль для изображения */
#myImage {
    cursor: pointer;
    transition: 0.3s;
}

#myImage:hover {
    opacity: 0.7;
}

/* Скрытие модального окна по умолчанию */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

/* Содержимое модального окна */
.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 60%;
}

/* Кнопка закрытия */
.close {
    position: absolute;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    line-height: normal;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
}


.hidden{
    display: none;
}